.banner{
  align-items: center;
  background: center url('../../img/banner.jpg') no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - 9.5rem);
  justify-content: center;
  padding: 2rem;
  text-align: center;
  width: calc(100% - 4rem);
}

