.banner__titulo{
  color: #fdfdfd;
  font-family: Pacifico,cursive;
  text-shadow: black 0px 4px 4px;
}

@media screen and (min-width:0) {
  .banner__titulo{
    font-size: 3rem;
  }
}
@media screen and (min-width:768px) {
  .banner__titulo{
    font-size: 5.0625rem; 
  }
}

